body{
    /*background: url("/static/images/background-2.jpg") top center / 1800px ;*/
    background-color: #e0abab;
    font-family: 'Source Sans Pro', sans-serif;

}
.width{
    margin: 0 20px;
}
h1{
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.opening{
    text-align: center;
    margin: 0 auto;
    padding: 40px 38px 0px 38px;
}
.opening h3{
    color: #212121;
    text-align: left;
    font-size: 1.3em ;
    margin: 0 auto;
    /*width: 360px;*/
}
.star-wars{
    margin: 45px 15px 45px 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #a03232;
}
.star-wars img{
    width: 100%;

}
/*  category list   */
a{
    text-decoration: none;
}

.category {
    margin: 15px 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}
.category .img-box {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.category .img-box img {
    display: flex;
    justify-content: center;
    width: 90px;
    margin: 0 10px 0 auto;
}

.category .img-box .cat-name p {
    text-transform: uppercase;
    visibility: visible;
    color: #212121;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.5em;
}

/* category.html */
h1.category-name{
    color: #a03232;
    padding: 0 0 40px 0;
    text-transform: uppercase;
}
.category-back button, #goback{
	background-color:transparent;
	/*border-radius:27px;*/
	/*border:3px solid #ffffff;*/
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#a03232;
	font-size:1em;
	padding:10px 15px;
	text-decoration:none;
    font-weight: bold;
}
.search{
    background-color: #e8caca;
    display: flex;
}
.search input{
    width: 100%;
}
.search input:focus{
    background: white;
}
.search-results p{
    color: #212121;
}
button{
    background: none;
    border: none;
    outline: none;
}
button img{
    width: 40px;
}
input{
    padding: 9px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
}
input::placeholder{
    color: #a03232;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
div[id^="more"]{
    display: none;
}
.names-list{
    display: block;
}
.names-list .name-button{
    background-color: transparent;
    border: none;
    outline: none;
    color: #212121;
    padding: 25px 0px 10px 15px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 2px solid #212121;
}
table{
    width: 100%;
    margin: 10px 0;
    text-transform: capitalize;
}
td{
    color: #212121;
    padding: 10px;
}
tr:nth-child(even) td{
    color: white;
}
tr:nth-child(even){
    color: white;
    font-size: 1em;
    background-color:#d97373;
}
tr:nth-child(odd){
    /*background-color: rgba(255,233,24, 0.5);*/
}
.more-info{
    background-color:transparent;
	/*border-radius:27px;*/
	/*border:3px solid #ffffff;*/
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#a03232;
	font-size:1em;
	padding:10px 15px;
    font-weight: bold;
    text-decoration: underline;
}
.previous-next {
    background: transparent;
    border-radius:6px;
	border:3px solid #a03232;
	display:inline-block;
	cursor:pointer;
	color:#212121;
	font-size: 1em;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
}
.previous-next:hover {
    background: #e9e9e9 linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    color: #a03232 ;
}
.previous-next:active {
	position:relative;
	top:1px;
}

/*   media queries    */

@media (min-width:1280px) {
    .opening h3{
        text-align: center;
        margin: 0 auto;
    }
    .star-wars img{
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .category {
    padding: 10px;
    position: relative;
    margin: 20px 20px;
    width:250px;
    }
    .box{
    padding: 50px 0 500px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.category .img-box img {
    display: flex;
    justify-content: center;
    width: 90px;
    margin: 0 auto;
}

.category .img-box .cat-name p {
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category:hover {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: -1px 7px 7px -5px rgba(103, 103, 103, 0.4);
    transition: 0.5s;
    transform: translate(0px, -15px);
}

.category:hover .img-box .cat-name p {
    visibility: visible;
}

.category:hover .img-box img{
    visibility: hidden;
}
.width{
    width: 55%;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
}
}