{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAR WARS 🌌</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>

<div class="width">
    {% block opening %}
    {% endblock %}
    <div class="star-wars"><a href="{% url 'swapp:start' %}">
        <img src="{% static 'images/star-wars-logo-red.png' %}" alt="Star Wars Knowledge Base"/></a></div>
    {% block container %}

    {% endblock %}
    <footer>
        <p>&#169; 2023 Created by Monika Karawan</p>
        <p>Powered by SWAPI: <a href="https://swapi.dev/">swapi.dev</a></p>
    </footer>
</div>

<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>